<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
        <add name="CampDataConnection" connectionString="Data Source=jose\SQLEXPRESS;Initial Catalog=Adi;Persist Security Info=True;User ID=sa; Password=12345678;Connect Timeout=300" providerName="System.Data.SqlClient"/>        
        <add name="ATLASConnection" connectionString="Data Source=jose\SQLEXPRESS;Initial Catalog=Adi;Persist Security Info=True;User ID=sa; Password=12345678;Connect Timeout=300" providerName="System.Data.SqlClient"/>
        <add name="ATLASConnectionDevelopment" connectionString="Data Source=jose\SQLEXPRESS;Initial Catalog=JOSE;Persist Security Info=True;User ID=sa; Password=Bquilla2024*;Connect Timeout=300" providerName="System.Data.SqlClient"/>
        <add name="ATLASConnectionQA" connectionString="Data Source=jose\SQLEXPRESS;Initial Catalog=Adi;Persist Security Info=True;User ID=sa; Password=12345678;Connect Timeout=300" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <appSettings>
	  <!-- AMBIENTE -->
    <add key="enviroment" value="0"/>

    <!-- ETB -->
    <add key="Empresa" value="ADI"/>
    
    <!-- Notificación -->
    <add key="notificationEmailsFail" value="waldocastro2895@gmail.com"/>
    <add key="notificationEmailsSuccess" value="waldocastro2895@gmail.com"/>
              

    <!-- 89084127-d83b-4c5e-abaf-b2b11c7a29f9 ETB -->
    <add key="llaveApp" value="89084127-d83b-4c5e-abaf-b2b11c7a29f9"/>

    <add key="urlSuma" value="https://suma.etb.co:6443/"/>
    <add key="UrlSecop" value="https://community.secop.gov.co/STS/Users/Login/Index?SkinName=CCE"/>
    <add key="UrlAdjuntos" value="https://www.secop.gov.co/CO1ContractsManagement/Tendering/SalesContractEdit/View?docUniqueIdentifier=CO1.SLCNTR.10728090"/>
    <add key="UrlWebSuma" value="https://suma.etb.co:6443/"/>
    <add key="UserNameO" value="waldo2895"/>
    <add key="PasswordO" value="W@LDOcas2895"/>
    <add key="RutaCartaLocal" value="C:\Users\Usuario\Downloads\subir\"/>
  </appSettings>
</configuration>
